.profile-subheading {
  .heading-line {
    border: 1px solid $dark-pink;
  }

  .heading-title {
    text-align: center;
    font-family: "Source Serif Pro", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20pt;
    line-height: 33px;
    color: $dark-pink;
  }
}
